$background-color: #1f1f1f;
$background-secondary-color: #242424;
$text-color: #ffffff;
$primary-color: #494949;
$second-color: #6b6b6b;

.red {
  background-color: #c21818;
  color: white;
}

.purple {
  background-color: #5b0396;
  color: white;
}

.green {
  background-color: #165e00;
  color: white;
}

.blue {
  background-color: #0e168b;
  color: white;
}
